*,
::after,
::before {
  box-sizing: border-box;
}

/* fonts */
/* @import url('https://fonts.googleapis.com/css2?&family=Roboto+Condensed:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,300;1,400;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
  font-size: 100%;
} /*16px*/

:root {
  --blue-light-100: #f7f7fbfe;
  --blue-light-200: #8e8eccf6;
  --blue-light-400: #4f4fb0f1;
  --primary-blue-500: #0c0c91ed;
  --blue-dark-600: #090969f1;
  --blue-dark--700: #060643f6;
  --blue-dark--800: #030321fa;

  /* green */
  --green-400: #82f1b9;
  --primary-green-500: #05e273;
  --green-600: #03713a;

  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-dark: #e2294f;

  /* fonts  */
  --headingFont: 'Roboto Condensed', Sans-Serif;
  --bodyFont: 'Cabin', Sans-Serif;
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  --backgroundColor: var(#eaeaf5fd);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 500px;
  --fluid-width: 90vw;
  --breakpoint-lg: 992px;
  --nav-height: 6rem;
  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  background: var(--backgroundColor);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);
}

p {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}
h4 {
  letter-spacing: 2px;
}
h5 {
  font-size: clamp(0.875rem, 0.9441rem + -0.2212vw, 0.75rem) !important;
}
small,
.text-small {
  font-size: var(--small-text);
}

a {
  text-decoration: none;
  letter-spacing: var(--letterSpacing);
}

button:disabled {
  cursor: not-allowed;
}
ul {
  list-style-type: none;
  padding: 0;
}
